body {
  width: 700px;
  margin-left: 100px;
}
.investigation-doc {
  color: #0069d9;
  width: 700px;
}

.examples {
  color: #2269d9;
}

.codeExs {
  font: monospace;
  font-size: .8em;
  background: #404045;
  color: white;
  padding: .7em;
  padding-left: 20px;
  border-radius: 15px;
  width: 40em;
}