.pcp-styling {
  border: 2px solid #0069d9;
  border-radius: 10px;
  width: 300px;
  padding: 1rem;
  box-shadow: 3px 3px #888888;
  font-size: 1em;
  margin: .5em 0 .7em 2.5em;
}

/* h2 {
  color: blue;
} */
.investigation-doc h1 {
  color: #0069d9;
}
.pcp-styling {
  color: green;
}
.investigation-doc {
  margin-left: 100px;
  width: 700px;
}
p {
  width: 700px;
}
button {
  margin-left: 100px;
  width: 300px;
  font-size: 1em;
  color: white;
}
.teasers {
  font-size: 1em;
  font-style: italic;
  margin-left: 100px;
  border: 1px solid #0069d9;
  width: 250px;
  padding-top: 10px;
  padding-bottom: 10px;
  
}
hr {
  width: 700px;
  margin: 0;
}
button {
  background: #0069d9;
}
.codeEx1 {
  color: #fff;
  background: #404045;
  font-family: monospace;
  font-size: 1.2em;
  padding: 1em;
  border: 1px solid #404045;
  border-radius: 15px;
  margin-left: 2.5em;
  width: 35em;
}
.appetizerCodeExs {
  color: #fff;
  background: #404045;
  font-family: monospace;
  font-size: 1.2em;
  padding: 1em;
  border: 1px solid #404045;
  border-radius: 15px;
  margin-left: 2.5em;
  margin-bottom: 2.5em;
  width: 35em;
}
.namesTable {
  border: 1 px black solid;
  text-align: center;
  margin-left: 4.5em;
  margin-bottom: 2em;
  width: 400px;
}
.note {
  font-size: .8em;
  font-weight: bold;
}