p {
  margin-left: 1em;
  line-height: 140%;
  margin-bottom: 1.4em;
}

.example-styling {
  color: #1c5d99;
  border: 1px solid #404045;
  margin: 10px 0 10px 1em;
  padding-top: 1.3em;
  width: 20em;
  height: 2.3em;
  text-align: center;
  border-radius: 10px;
  font-size: 1em;
  font-weight: bold;
}

.investigation-doc h1 {
  color: #1c5d99;
}

.investigation-doc {
  margin-left: 100px;
  width: 750px;
}
p {
  width: 680px;
}
button {
  width: 22em;
  font-size: 1em;
  color: white;
  border-radius: 3px;
  background: #1c5d99;
  margin-left: 1em;
  }
button:hover {
  background: #639fab;
}
button:active {
  background: #2c7e8f;
}
/* The following two classes might be used to change layout of 
buttons from block to flex. */

/* .btn-container {
  
}
.code-ex-btn {

} */
.teasers {
  font-size: 1em;
  font-style: italic;
  border: 1px solid #639fab;
  width: 20em;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 1.8em;
  margin-left: 1em;
 }
hr {
  width: 700px;
  margin: 0;
}
/* .codeEx1 {
  color: #fff;
  background: #404045;
  padding-left: 20px;
  border: 1px solid #404045;
  border-radius: 15px;
  width: 35em;
  font-family: 'Roboto Mono', monospace;
} */
.codeExs {
  color: #fff;
  background: #404045;
  padding: 1em;
  border: 1px solid #404045;
  border-radius: 15px;
  margin-bottom: 2.5em;
  width: 45em;
  font-family: 'Roboto Mono', monospace;
  font-size: .9em;
  margin-left: 1em;
}
.note {
  font-size: .8em;
  font-weight: bold;
}
a.embedded-anchor {
  margin-left: 0;
}
a.embedded-anchor:hover {
  color: #2c7e8f;
}
a.embedded-anchor:active {
  color: #1c5d99;
}
a {
  color: #639fab;
  font-weight: bold;
  margin-left: 1em;
}
a:hover {
  color: #2c7e8f;
}
a:active {
  color: #1c5d99
}

.header-tab {
  font-size: 1em;
  font-weight: bold;
  margin-top: 25px;
} 
h3 {
  margin-left: 1em;
}