.color-1 {
  display: inline-flex;
  height: 100px;
  width: 100px;
  background-color: #1c5d99;
  color: white;
}
.color-2 {
  display: inline-flex;
  height: 100px;
  width: 100px;
  background-color: #639fab;
  color: white;
}
body {
  width: 700px;
  margin-left: 100px;
}
p {
  line-height: 140%;
  margin-bottom: 1.4em;
  margin-left: 1em;
}
.investigation-doc {
  color: #1c5d99;
  width: 700px;
  font-size: 2em;
  margin-top: .75em;
  text-align: left;
}
.section-header {
  font-size: 1.5em;
}
a {
  color: #639fab;
  font-weight: bold;
}
a:hover {
  color:#2c7e8f;
}
a:active {
  color: #1c5d99;
}
.examples {
  color: #1c5d99;
  border: 1px solid #404045;
  margin: 1em;
  padding-bottom: .8em;
  width: 20em;
  height: 3em;
  text-align: center;
  border-radius: 8px;
  font-size: 1em;
}
.codeExs {
  font-family: 'Roboto Mono', monospace;
  font-size: .9em;
  background: #404045;
  color: white;
  padding-left: 20px;
  border-radius: 10px;
  width: 40em;
  margin-left: 1em;
}
.header-tab {
  font-size: 1em;
  font-weight: bold;
  margin-top: 25px;
  margin-left: 1em;
}
h3 {
  margin-top: 0;
  margin-left: 1em;
}
button {
  width: 22em;
  font-size: 1em;
  color: white;
  border-radius: 3px;
  background: #1c5d99;
  margin-left: 1em;
  }
button:hover {
  background: #639fab;
}
button:active {
  background: #2c7e8f;
}
