/* app.js */
h3 p {
  margin-left: 20px;
  margin-right: 20px;

}
.main-div {
  margin-left: 20px;
}
footer {
  background: #e9ecef;
  width: 100%;
  height: 100px;
  font-size: 1.2em;
  margin-top: 40px;
}
.copywrite {
  text-align: center;
  padding-top: 40px;
  color: #373636;
}

/* address.js */
.addressBox {
  border: 1px solid black;
  margin: 20px;
  width: 350px;
  display: inline-block;
  box-shadow: 2px 2px 5px grey;
  border-radius: 5px;
}
.logo {
  width: 10%;
  margin-right: 50px;
  margin-left: 50px;
}

/* ==============  TODO LISTS ================ */
.todoapp {
  padding: 0 30px 0 30px;
  max-width: 600px;
}
.todo-list {
  background: #e8e8e8;
  border-radius: 4px;
  padding: 5px;
  border: 30px solid #0069d9;
  min-width: 400px;
}
.todo {
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0,0,0,.15);
  padding: 3px 10px;
  font-size: 16px;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* userdata.js */

.list {
  display: grid;
  border: 1px solid #0069d9;
  border-radius: 8px;
  margin: 20px;
  font-size: .9rem;
  padding: 15px;
  width: 300px;
  box-shadow: 5px 5px #888888;
}
.header {
  background: #0069d9;
  font-size: 1.3em;
  color: #fff;
  text-align: center;
  border-radius: 5px;
}
.address {
  background: #0069d9;
  color: #fff;
  text-align: center;
  border-radius: 3px;
}
.body {
  margin-left: 10px;
}
