h1 {
  text-align: center;
  padding-bottom: .8em;
}
.border-bottom {
  border-bottom: 1px solid #dee2e6!important;
  margin-bottom: 1em;
  
}
h3 {
  margin-left: .5em;
}
p {
  margin: 0 .8em 0 .8em;
  
}
.row {
  width: 98%;
}